<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/main.css">

        <script src="/components/jquery/jquery.min.js"></script>
        <script src="/components/jquery.sidenotes/lib/jquery.sidenotes.min.js"></script>
        <script src="/components/responsejs/response.min.js"></script>
        <script src="/components/mousetrap/mousetrap.min.js"></script>
    </head>
    <body>

        <div class="site-content">
          <div class="page container">
            <div class="page__content">
              {{ content }}
            </div>
          </div>
        </div>

        <script src="/js/footer.js"></script>
    </body>
</html>
