* {
  @include box-sizing(border-box);

  @include selection(color(background-inverted), color(text-inverted));
}

@include establish-baseline;

html {
  background-color: color(background);
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  text: {
    rendering: optimizeLegibility;
  }

  @include breakpoint(break(only-small)) {
    font-size: 95%;
  }
}